.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  width: calc(33% - 16px);
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px;
}

.photos {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-card-content {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.card-category {
  color: rgb(0, 0, 0);
}

mat-card-actions button {
  margin: 0 auto;
  background-color: rgb(13, 100, 231);
  color: white;
}

mat-card-actions button:hover {
  background-color: rgb(188, 215, 255);
  color: rgb(13, 100, 231);
}

.card-view-detail {
  cursor: pointer;
}

.card-view-detail:hover {
  background-color: rgb(241, 241, 241);
}

.search-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 0px 0px;
}

.input-search-class {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #f3f3f3;
  background-color: rgb(37,66,55);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

.input-search-class::placeholder {
  color: #b9b9b9;
}

.mat-form-field {
  margin-right: 10px;
  background-color: rgb(44, 80, 67);
}

.mat-datepicker-toggle {
  color: #f1dede;
}

.filter-reset .filter-reset-btn {
  background-color: rgb(44, 80, 67);
  margin-bottom: 25px;
}

.filter-reset .filter-reset-btn:hover {
  color: #fff;
  background-color: rgb(87, 133, 116);
}

.search-options .sort-button {
  background-color: rgb(44, 80, 67);
  align-items: center;
  margin-left: 10px;
  color: #fff;
}

.search-options .sort-button:hover {
  color: #fff;
  background-color: rgb(87, 133, 116);
}

.scroll-to-top {
  position: fixed;
  background-color: rgb(231, 231, 231);
  color: rgb(33, 59, 48);
  border: none;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.scroll-to-top:hover {
  background-color: rgb(33, 59, 48);
  color: rgb(255, 255, 255);
}
