<div class="search-options">
  <input class="input-search-class" type="text" [formControl]="titleControl" (input)="performSearch(titleControl.value, 'title')" placeholder="Search by Title">
  <input class="input-search-class" type="text" [formControl]="descriptionControl" (input)="performSearch(descriptionControl.value, 'description')" placeholder="Search by Description">
</div>

<div class="post-list">
  <mat-card *ngFor="let post of filteredPosts">
    <mat-card-header>
      <div mat-card-avatar class="post-header-image"></div>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ post.category }}</mat-card-subtitle>
    </mat-card-header>
    <div class="photos" *ngFor="let photo of post.photos">
      <img mat-card-image [src]="getPhotoSrc(photo)" alt="photos">
    </div>
    <mat-card-content>
      <p>{{ post.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewDetails(post)">View Details</button>
    </mat-card-actions>
  </mat-card>
</div>
