<nav class="nav-menu">
  <span (click)="backToHomePage()" class="logo">
    <img src="../../../assets/social.png" alt="logo">
  </span>
  <ul class="category-list">
    <li (click)="filterPostsByCategory('Travel')" [class.active]="category === 'Travel'" data-category="Travel">Travel</li>
    <li (click)="filterPostsByCategory('Life Style')" [class.active]="category === 'Life Style'" data-category="Life Style">Life Style</li>
    <li (click)="filterPostsByCategory('Pet')" [class.active]="category === 'Pet'" data-category="Pet">Pet</li>
    <li (click)="filterPostsByCategory('Home')"[class.active]="category === 'Home'" data-category="Home">Home</li>
    <li (click)="filterPostsByCategory('Hobbies')" [class.active]="category === 'Hobbies'" data-category="Hobbies">Hobbies</li>
  </ul>
  <div class="side-bar">
    <div class="toggle-theme">
      <app-theme-toggle></app-theme-toggle>
    </div>
    <button (click)="createNewPost()" class="create-button">Create new post</button>
  </div>
</nav>

